@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --primary-colour: #004BFF;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

h2 {
    font-weight: normal;
    font-size: 22px;
    margin: 0;
}

h3 {
    font-weight: normal;
    font-size: 17px;
    margin: 0;
}

h4 {
    font-weight: normal;
    font-size: 13px;
    margin: 0;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    overflow: auto;
    min-height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


